<%- include ("partials/header") %>
<h1> THE LOGIN PAGE! </h1>

<form action="/login" method="POST">
    <div class="ui input">
        <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    </div>
    <button class="ui blue inverted button"> LogIn </button>
</form>
<%- include ("partials/footer") %>
