<%- include ("partials/header") %>
<h1> Register Page! </h1>

<form action="/register" method="POST"> 
   <div class="ui input">
     <input type="text" name="username" placeholder="username">
     <input type="password" name="password" placeholder="password">
   </div>
    <button class="ui blue inverted button">  Submit </button>
</form>
<%- include ("partials/footer") %>